.notification {
    position: fixed;
    top: 15px;
    left: 250px;
    padding: 10px 20px;
    border-radius: 4px;
    /* z-index: 1000; */
    font-size: 16px;
    border: none;
}

.notification.success {
    background-color: lightgreen;
    color: green;
}

.notification.error {
    background-color: lightcoral;
    color: white;
}
